.link {
  text-decoration: none;
  transition: all 0.2s ease-out;
  color: inherit;

  &--main {
    color: var(--color-white-dark-1);

    &:hover {
      color: #ffffff;
    }
  }

  &--secondary {
    color: #ffffff;
  }

  &--swiper {
    color: var(--color-blue-dark);
    font-size: 18px;

    @include respond(phone) {
      font-size: 14px;
    }

    &:hover {
      color: var(--color-blue-light);
    }
  }

  &--checkbox {
    color: inherit;
  }
}

.heading-1 {
  font-size: 4.6rem;
  line-height: 6.3rem;
  font-weight: 600;

  @include respond(phone) {
    font-size: 24px;
    line-height: 28px;
  }
}

.heading-2 {
  font-size: 3rem;
  font-weight: 500;

  @include respond(phone) {
    font-size: 26px;
    line-height: 35px;
  }

  @include respond(small-phone) {
    font-size: 22px;
    line-height: 28px;
  }
}

.heading-3 {
  font-size: 3rem;
  font-weight: 500;
}

.heading-4 {
  font-size: 2.8rem;
  font-weight: 500;

  @include respond(phone) {
    font-size: 20px;
    line-height: 35px;
  }

  @include respond(small-phone) {
    font-size: 18px;
    line-height: 35px;
  }
}

.heading-5 {
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 300;
  width: 36rem;

  @include respond(phone) {
    font-size: 16px;
    line-height: 19px;
    width: 25rem;
  }
}
