.link {
  text-decoration: none;

  &--main {
    color: var(--color-white-dark-1);
  }

  &--secondary {
    color: #FFFFFF;
  }
}

.heading-1 {
  font-size: 4.6rem;
  line-height: 6.3rem;
  font-weight: 600;
  padding-right: 2rem;
}

.heading-2 {
  font-size: 2rem;
  line-height: 2.7rem;
  font-weight: 300;
  width: 36rem;
}

.heading-3 {
  font-size: 3rem;
  font-weight: 500;
}