.product-card {
  border: 1px solid var(--color-grey-light-3);
  border-radius: 12px; 

  &__image {
    width: 100%;
  }

  &__content {
    padding: 2rem 2.4rem;
  }

  &__list {
    list-style-position: inside;
    font-size: 15px;
    color: var(--color-grey-dark-1);
    padding: .9rem 0 3.4rem 0;
  }
}


