.questions-form {
  background: #4a597d;
  padding: 4rem 8rem;
  border-radius: 10px;
  max-width: 1171px;
  color: white;
  margin-top: -20rem;
  position: relative;
  justify-self: center;

  @include respond(small-desktop) {
    padding: 3rem;
    height: 340px;
  }

  @include respond(tab-port) {
    height: 641px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &__content {
    margin-left: 42%;

    @include respond(tab-port) {
      margin-left: 0;
      margin-top: 330px;
    }
  }

  &__image {
    &--big {
      @include respond(small-desktop) {
        display: none;
      }
    }
    &--small {
      display: none;
      @include respond(small-desktop) {
        display: initial;
      }
    }
  }

  &__questions {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;

    @include respond(tab-port) {
      top: 0;
    }
  }

  &__person {
    position: absolute;
    bottom: 0;
    left: 13rem;
    height: 110%;

    @include respond(small-desktop) {
      left: 3rem;
    }

    @include respond(tab-port) {
      top: 0;
      width: 200px;
      height: auto;
      transform: translateY(22px);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 0.5rem;
    margin-top: 1rem;

    @include respond(small-desktop) {
      grid-template-columns: 3fr 1fr;
    }

    @include respond(tab-port) {
      padding-right: 3rem;
      grid-template-columns: 1fr;
    }
  }

  &__input {
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1.6rem;
    padding-top: 1.2rem;
    color: white;
    font-size: 20px;
    font-weight: 500;
    grid-column: 1;
    grid-row: 2;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-white-dark-1);
    }
  }

  &__button {
    grid-column: 2;
    grid-row: 2;
    align-self: center;

    @include respond(small-desktop) {
      grid-row: 4;
      grid-column: 1;
      margin-top: 2rem;
    }
  }

  &__label {
    opacity: 0.7;
    font-size: 14px;
    grid-column: 1;
    grid-row: 1;

    &--checkbox {
      align-items: center;
      grid-template-columns: max-content max-content;
      display: grid;
      margin-top: 2rem;
      grid-row: 3;

      @include respond(tab-port) {
        display: initial;
      }
    }
  }

  &__checkbox {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
    margin-right: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
      transform: translateY(3px);
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:checked {
      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background: var(--color-grey);
      }
    }
  }
}
