.recommended-card {
  height: 240px;
  width: 574px;
  border-radius: 10px;
  color: white;

  &__content {
    padding: 3rem 3.5rem;
    position: relative;
    overflow: hidden;
  }

  &__rates {
    margin-top: 2.5rem;
    display: flex;
  }

  &__rates-item {
    display: grid;
  }

  &__rate {
    font-size: 4.5rem;
    margin-right: 3.5rem;
    line-height: 5.1rem;
    padding-top: 1rem;
  }

  &__desc {
    display: grid;
    font-size: 14px;
  }

  &__info {
    opacity: 0.5;
    font-size: 14px;
    padding-top: 1.5rem;
  }

  &__image {
    position: absolute;
    right: 5rem;
    bottom: 1rem;
    height: 90%;

    &--1 {
      height: 55%;
      bottom: 5rem;
      right: 1.5rem;
    }

    &--4 {
      height: 85%;
      bottom: 2rem;
    }
  }
}
