.vue-slider-process {
  background-color: var(--color-yellow);
}

.vue-slider-dot {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vue-slider-dot__inside {
  width: 6px;
  height: 6px;
  border: 6px solid var(--color-yellow);
  border-radius: inherit;
}

.vue-slider-rail {
  background: #E4E4E4;
}