.benefits {
  padding: 8rem 15rem 6rem 15rem;
  width: 100%;
  // background: var(--color-white-light-2);

  &__content {
    @include width;
    margin: 0 auto;
  }

  &__benefit-container {
    display: flex;
    justify-content: space-between;
  }

  &__benefit-item {
    display: grid;
    width: 32rem;
  }

  &__benefit-heading {
    padding-top: 2rem;
  }

  &__benefit-text {
    padding-top: 1rem;
    color: var(--color-grey-dark-2);
    font-size: 18px;
    line-height: 25px;
  }
}
