.footer {
  @include padding;
  padding-top: 5rem;
  padding-bottom: 3rem;
  width: 100%;
  background: #3b4144;
  margin-top: 10rem;
  position: relative;
  color: white;

  @include respond(sm-desktop) {
    padding-bottom: 0;
  }

  &__content {
    @include width;
    margin: 0 auto;
  }

  &__content-list {
    margin-top: 7.6rem;
    display: grid;
    grid-template-columns: 4fr repeat(4, 3fr);
    justify-content: space-between;
    padding-bottom: 3rem;
    column-gap: 1rem;

    @include respond(sm-desktop) {
      grid-template-columns: repeat(2, 2fr) 3fr;
      row-gap: 4rem;
      padding-bottom: 1rem;
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__list {
    list-style: none;

    &--logo {
      @include respond(sm-desktop) {
        grid-column: 3;
      }

      @include respond(tab-port) {
        grid-row: 3;
        grid-column: 1 / -1;
      }
    }

    &--company {
      @include respond(sm-desktop) {
        grid-column: 1;
        grid-row: 1;
      }
    }

    &--loans {
      @include respond(sm-desktop) {
        grid-column: 2;
        grid-row: 1;
      }
    }

    &--investment {
      @include respond(sm-desktop) {
        grid-column: 1;
        grid-row: 2;
      }
    }

    &--services {
      @include respond(sm-desktop) {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }

  &__list-hours {
    display: block;
    opacity: 0.5;
    color: white;
  }

  &__list-tel {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
  }

  &__list-item {
    font-size: 1.8rem;

    @include respond(small-phone) {
      font-size: 1.6rem;
    }

    &--heading {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2.8rem;
    }

    &--simple {
      margin-bottom: 1.5rem;
    }

    &--logo {
      @include respond(sm-desktop) {
        margin-top: -1rem;
      }
    }

    &--policy {
      margin-top: 4rem;
      display: grid;
      opacity: 0.5;

      @include respond(sm-desktop) {
        transform: translateY(225px);
      }

      @include respond(tab-port) {
        transform: translateY(165px);
      }

      @include respond(small-phone) {
        transform: translateY(220px);
      }

      @include respond(iphone5) {
        transform: translateY(250px);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__legal {
    padding-top: 3rem;
    border-top: 1px solid hsl(0, 0%, 35%);
    color: var(--color-grey-dark-3);
    font-size: 14px;
    margin-top: 4rem;
    grid-column: 1 / -1;

    @include respond(sm-desktop) {
      grid-column: 3;
      grid-row: 2;
      margin-top: 0;
      border: none;
      padding: 0;
      display: grid;
      gap: 2rem;
      transform: translateY(-120px);
    }

    @include respond(tab-port) {
      grid-row: 4;
      grid-column: 1 / -1;
      transform: unset;
      transform: translateY(-100px);
    }

    &--copyright {
      display: block;
      margin-bottom: 3rem;

      @include respond(sm-desktop) {
        grid-row: 2;
        line-height: 16px;
      }
    }

    &--info {
      width: 80%;
      display: block;

      @include respond(sm-desktop) {
        grid-row: 1;
        line-height: 16px;
        width: 100%;
      }
    }
  }
}
