.hero {
  position: relative;
  color: #ffffff;
  height: 715px;
  overflow: hidden;

  @include respond(tab-land) {
    height: 1024px;
  }

  @include respond(phone) {
    height: 884px;
  }

  &__container {
    height: 100%;
    overflow: hidden;

    &--big {
      @include respond(tab-land) {
        display: none;
      }
    }

    &--small {
      display: none;

      @include respond(tab-land) {
        display: block;
      }
    }
  }

  &__content-container {
    @include padding;
    padding-top: 4rem;
    padding-bottom: 15rem;
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
  }

  &__content-intersection {
    clip-path: polygon(0 50%, 100% 0, 100% 50%, 0% 100%);
    width: 100%;
    height: 150px;
    opacity: 0.6;
    transform: translateY(85px);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 560px;
    align-items: flex-end;
    transform: translateY(40px);

    @include respond(phone) {
      height: 420px;
    }
  }

  &__content {
    margin: 0 auto;
    @include width;
    @include padding;
    padding-top: 150px;
    position: relative;
    height: 565px;
  }

  &__content-title {
    width: 55rem;
    z-index: 2;
    margin-top: 11rem;

    @include respond(tab-land) {
      margin-top: 6rem;
    }

    @include respond(phone) {
      margin-top: 8rem;
    }

    @include respond(small-phone) {
      width: 250px;
    }
  }

  &__content-description {
    padding-top: 1rem;
    z-index: 1;
    margin-top: 2.3rem;
  }

  &__content-figure {
    position: absolute;
    z-index: 0;
    right: 10rem;
    bottom: 0;
    transition: all 0.32s ease-out;

    @include respond(tab-land) {
      display: none;
    }

    &--small {
      z-index: 0;
    }
  }

  &__content-image {
    &--1 {
      width: 85%;
      transform: translate(240px, -140px);
    }

    &--2 {
      transform: translate(15px, -55px);
      width: 90%;
    }

    &--5 {
      width: 95%;
    }

    &--small {
      width: 510px;

      @include respond(phone) {
        width: 380px;
      }

      @include respond(small-phone) {
        width: 300px;
      }

      &--1 {
        transform: translateY(-100px);
        // width: 550px;
      }

      &--2 {
        // width: 450px;
      }

      &--4 {
        // width: 540px;
      }

      &--5 {
        // width: 500px;
      }
    }
  }

  &__content-cta {
    margin-top: 9rem;

    @include respond(tab-land) {
      margin-top: 5.4rem;
    }
  }
}
