.news {
  @include padding;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 15rem;
  overflow: hidden;

  @include respond(tab-land) {
    padding-top: 3rem;
  }

  &__content {
    @include width;
    margin: 0 auto;
  }
}