.personal-account {
  @include padding;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 5rem;
  background: var(--color-white-light-2);
  overflow: hidden;

  @include respond(phone) {
    padding: 0;
    background: none;
  }

  &__content {
    @include width;
    display: grid;
    margin: 0 auto;

    @include respond(phone) {
      background: url('/pa-bg.svg');
      background-size: cover;
    }
  }

  &__laptop {
    z-index: 2;
    justify-self: start;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    transform: translateY(30px);

    @include respond(phone) {
      justify-self: center;
    }
  }

  &__container {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    border-radius: 10px;
    width: 85rem;
    height: 50rem;
    background: var(--color-yellow);
    padding: 15rem 4rem 0 45rem;

    @include respond(tab-land) {
      width: 100%;
      padding: 15rem 3rem 0 30rem;
    }

    @include respond(phone) {
      background: none;
      grid-column: 1;
      grid-row: 2;
      padding: 2rem 4rem;
      height: auto;
    }
  }

  &__text {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__image {
    width: 650px;

    @include respond(tab-land) {
      width: 450px;
      transform: translateX(-150px);
    }

    @include respond(phone) {
      width: 350px;
      transform: unset;
    }

    @include respond(small-phone) {
      width: 300px;
    }
  }
}
