.product-calculator {
  @include padding;
  padding-top: 8rem;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;

  @include respond(tab-land) {
    padding-top: 5rem;
  }

  &__content {
    @include width;
    margin: 0 auto;
  }

  &__container {
    display: grid;
    margin-top: 3rem;
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr;

    @include respond(tab-land) {
      grid-template-columns: 1fr;
    }

    @include respond(phone) {
      padding: 0;
      margin-top: 2rem;
    }
  }

  &__container-input {
    border-right: 1px solid rgba(grey, 0.1);
    padding: 2.5rem 8rem 2.5rem 0;

    @include respond(tab-land) {
      border-right: none;
      padding: 0;
    }

    &--investment {
      border-right: none;
      padding: 0;
    }
  }

  &__container-result {
    justify-self: flex-end;
    grid-row: 1;
    grid-column: 2;

    @include respond(tab-land) {
      justify-self: normal;
      margin-top: 2rem;
      grid-row: 2;
      grid-column: 1;
    }

    &--investment {
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      padding-left: 0;

      @include respond(tab-land) {
        width: 90%;
        margin: 0 auto;
      }

      @include respond(tab-land) {
        margin-top: 3rem;
      }
    }
  }

  &__input-wrapper {
    width: 48rem;
    margin-bottom: 5rem;

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__input-container {
    width: 100%;
    height: 8.5rem;
    position: relative;

    @include respond(phone) {
      height: auto;
    }
  }

  &__input {
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    padding-top: 2.5rem;
    font-size: 22px;

    @include respond(phone) {
      border: none;
      padding: 3.5rem 0 2.5rem 0;
    }

    &:focus {
      outline: none;
    }
  }

  &__label {
    color: #6d6d6d;
    font-size: 14px;
    position: absolute;
    top: 11px;
    left: 20px;

    @include respond(phone) {
      left: 0;
      top: 0;
    }
  }

  &__slider {
    position: absolute;
    bottom: 0;
    bottom: -11px;
    left: 24px;
    width: 90%;

    @include respond(phone) {
      left: 6px;
      padding-top: 1rem;
    }
  }

  &__input-tooltips {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #6d6d6d;
    font-size: 14px;
    padding-top: 1.8rem;

    @include respond(phone) {
      width: 100%;
      padding: 2rem 4rem 0 1rem;
    }

    @include respond(small-phone) {
      width: 100%;
      padding: 2rem 2.5rem 0 1rem;
    }
  }

  &__input-tooltip-rub {
    @include respond(small-phone) {
      display: none;
    }
  }

  &__legal {
    color: #c5c5c5;
    font-size: 14px;
    width: 475px;
    grid-column: 1;
    transform: translateY(-45px);

    @include respond(tab-land) {
      grid-row: 3;
      transform: none;
      margin: 0 auto;
      width: 85%;
      margin-top: 2rem;
    }

    @include respond(phone) {
      padding: 1rem 0;
    }
  }

  //  circle

  &__circle {
    display: flex;

    @include respond(tab-land) {
      justify-content: space-around;
    }

    @include respond(phone) {
      display: grid;
      justify-content: initial;
    }
  }

  &__circle-chart {
    margin-left: 4rem;
    position: relative;

    @include respond(phone) {
      margin-left: -1rem;
      justify-self: center;
    }
  }

  &__circle-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
  }

  &__circle-percent {
    font-size: 36px;
    font-weight: 500;
    padding: 1.5rem 0;
  }

  &__data {
    padding-top: 3rem;
    padding-left: 2rem;
    min-width: 46%;

    @include respond(tab-land) {
      padding-left: 0;
    }

    @include respond(phone) {
      display: grid;
      column-gap: 1rem;
      margin-bottom: 2rem;
      padding-top: 0;
      justify-items: flex-start;
    }
  }

  &__result-title {
    font-weight: 500;
    font-size: 18px;

    @include respond(phone) {
      grid-row: 1;
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 1rem;
    }
  }

  &__result-number {
    font-size: 55px;

    @include respond(phone) {
      font-size: 35px;
      grid-row: 2;
    }
  }

  // legend

  &__legend {
    padding-top: 8rem;
    display: flex;
    justify-content: space-around;

    @include respond(tab-land) {
      justify-content: flex-start;
      padding-left: 5rem;
    }

    @include respond(phone) {
      padding-left: 0;
      padding-top: 3rem;
    }
  }

  &__legend-item {
    display: grid;
    align-items: center;
    gap: 1rem;

    @include respond(tab-land) {
      margin-right: 8rem;
    }

    @include respond(phone) {
      margin-right: 2rem;
    }
  }

  &__legend-circle {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    grid-row: 1;

    &--sum {
      background: var(--color-yellow);
    }

    &--percent {
      background: var(--color-blue);
    }
  }

  &__legend-title {
    color: var(--color-grey-dark-1);
    font-size: 14px;
    grid-row: 1;
  }

  &__legend-sum {
    font-weight: 400;
    font-size: 20px;
    grid-row: 2;
    grid-column: 2;
  }
}
