.products {
  padding: 9.7rem 15rem 3rem 15rem;
  width: 100%;
  overflow: hidden;
  background: var(--color-white-light-2);

  &__content {
    @include width;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.5rem;
  }

  &__controls {
    display: flex;
  }

  &__controls-item {
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-black-light);
    cursor: pointer;
    transition: all .12s ease-out;
  }

  &__controls-item--active {
    color: inherit;
  }
}
