.products {
  @include padding;
  padding-top: 8rem;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;
  background: var(--color-white-light-2);

  @include respond(tab-land) {
    padding-top: 5rem;
  }

  @include respond(phone) {
    padding-top: 3rem;
  }

  &__content {
    @include width;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.5rem;

    @include respond(tab-land) {
      display: grid;
      padding-bottom: 2.5rem;
    }
  }

  &__controls {
    display: flex;

    @include respond(tab-land) {
      margin-top: 2rem;
    }
  }

  &__controls-item {
    margin-right: 3rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-grey-dark-3);
    cursor: pointer;
    transition: all .12s ease-out;

    @include respond(phone) {
      font-size: 14px;
    }
  }

  &__controls-item--active {
    color: inherit;
  }
}
